<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./assets/menu.css">
</head>
<body>
    <header class="cabecalho">
    <a href="#" class="cabecalho_logo" href="#">Logo</a>

    <nav class="menu" data_menu>
        <button class="menu_botao" aria-label="Abrir menu" aria-haspopup="true" aria-controls="menu-lista" aria-expanded="false">
            Menu
            <span class="menu__hamburguer"></span>
        </button>

        <ul class="menu__lista" id="menu_lista">
            <li><a href=# data-link="home">Home</a></li>
            <li><a href=# data-link="sobre">Sobre</a></li>
            <li><a href=# data-link="produtos">Produtos</a></li>
            <li><a href=# data-link="portifolio">Portifolio</a></li>
            <li><a href=# data-link="contato">Contato</a></li>
            
           
            
            
        </ul>
    </nav>
    </header>

    <script src="js/main.js"></script>
</body>
</html>